# Discord Bot Configuration
DISCORD_TOKEN=tokenBOT
CLIENT_ID=klayen
GUILD_ID=discord server

# MongoDB Configuration
MONGODB_URI=mongodb+srv:/blablabla
# Or use MongoDB Atlas:
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/onepanel-bot

# Pterodactyl Configuration
PTERODACTYL_URL=url ptero lu
PTERODACTYL_API_KEY=ptlc_(api ptero)

# Role IDs
MEMBER_ROLE_ID=role member buat regis
ADMIN_ROLE_ID=role admin
PREMIUM_ROLE_ID=role buat user premiujm

# Channel IDs
TICKET_CATEGORY_ID=kategori untuk create ticket
LOG_CHANNEL_ID=log

# Bot Settings
PREFIX=! #gak penting karena pake slash
EMBED_COLOR=#00ff9d
DEFAULT_LOCATION=1 lokasi node, example 1